Repository RaunoT/loosegrace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --cache --fix

feat: tattoo single release (#14)
  .husky/commit-msg
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .stylelintcache
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  commitlint.config.js
  docs/index.0fb0a1dd.css
  docs/index.0fb0a1dd.css.map
  docs/index.690d9f04.css
  docs/index.690d9f04.css.map
  docs/index.html
  package.json
  pnpm-lock.yaml
  src/img/blonde.png
  src/img/tattoo.png
  src/img/typography.svg
  src/index.html
  src/style.css
  tailwind.config.js
  yarn.lock
Due: prettier --write, stylelint --cache --fix

build: update
  docs/img/tattoo-cover.png
  docs/index.ee8855f4.css
  docs/index.ee8855f4.css.map
  docs/tattoo.6cdc9ad3.png
  src/img/tattoo-cover.png
Due: none

build: update
  .gitignore
  .stylelintcache
  docs/android-chrome-192x192.d6faa136.png
  docs/android-chrome-512x512.cd4013e2.png
  docs/apple-touch-icon.09117825.png
  docs/blonde.92d201c1.png
  docs/browserconfig.e2cdd878.xml
  docs/favicon-16x16.5a64a941.png
  docs/favicon-32x32.5b34b441.png
  docs/favicon.e0561b42.ico
  docs/img/blonde-cover.png
  docs/img/tattoo-cover.png
  docs/index.0fb0a1dd.css
  docs/index.0fb0a1dd.css.map
  docs/index.ee8855f4.css
  docs/index.ee8855f4.css.map
  docs/index.html
  docs/safari-pinned-tab.bc1b067d.svg
  docs/storage/images/blonde-high-res.png
  docs/storage/images/live.jpeg
  docs/tattoo.6cdc9ad3.png
  docs/typography.1e2e6009.svg
  docs/up_/favicon/site.webmanifest
  docs/vinyl.46f18b1c.png
  src/img/blonde-cover.png
  src/index.html
  src/static/storage/images/blonde-high-res.png
  src/static/storage/images/live.jpeg
Due: prettier --write

ci: fix build
  docs/android-chrome-192x192.d6faa136.png
  docs/android-chrome-512x512.cd4013e2.png
  docs/apple-touch-icon.09117825.png
  docs/browserconfig.e2cdd878.xml
  docs/favicon-16x16.5a64a941.png
  docs/favicon-32x32.5b34b441.png
  docs/favicon.e0561b42.ico
  docs/img/tattoo-cover.png
  docs/index.ee8855f4.css
  docs/index.ee8855f4.css.map
  docs/index.html
  docs/safari-pinned-tab.bc1b067d.svg
  docs/tattoo.6cdc9ad3.png
  docs/typography.1e2e6009.svg
  docs/up_/favicon/site.webmanifest
  docs/vinyl.46f18b1c.png
Due: none

fix: og image aspect ratio
  docs/img/tattoo-cover.png
  docs/img/tattoo-og.png
  docs/index.html
  src/img/tattoo-cover.png
  src/img/tattoo-og.png
  src/index.html
Due: prettier --write

build: update
  docs/CNAME
  docs/browserconfig.235a2ee9.xml
  docs/browserconfig.e2cdd878.xml
  docs/index.html
  pnpm-lock.yaml
  src/index.html
Due: prettier --write

feat: add pre-save button for faded
  src/index.html
  tailwind.config.js
Due: prettier --write

fix: build
  docs/index.14cd3485.css
  docs/index.14cd3485.css.map
  docs/index.e14fc55e.css
  docs/index.e14fc55e.css.map
  docs/index.html
Due: none

feat: faded release
  docs/img/faded-og-coming.png
  docs/img/faded-og-released.png
  docs/index.html
  src/index.html
Due: prettier --write

feat: add video premiere link
  docs/index.14cd3485.css
  docs/index.14cd3485.css.map
  docs/index.240ef6ae.css
  docs/index.240ef6ae.css.map
  docs/index.html
  src/index.html
Due: prettier --write

refactor: clean up
  docs/index.240ef6ae.css
  docs/index.240ef6ae.css.map
  docs/index.6cbc26d1.css
  docs/index.6cbc26d1.css.map
  docs/index.html
  src/index.html
  src/style.css
Due: prettier --write, stylelint --cache --fix

feat: event tracking
  src/index.html
Due: prettier --write

feat: faded release (#17)
  docs/img/faded-og-coming.png
  docs/img/faded-og-released.png
  docs/index.240ef6ae.css
  docs/index.240ef6ae.css.map
  docs/index.6cbc26d1.css
  docs/index.6cbc26d1.css.map
  docs/index.html
  src/index.html
  src/style.css
Due: prettier --write, stylelint --cache --fix

feat: update music links to faded single
  docs/index.html
  src/index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{html,css,js,json}
  stylelint --cache --fix: any of: src/**/*.css
